#blog-section-1 {
    display: flex;
    margin-bottom: 3rem;
}

#blog-section-1 ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding: 0;
}

#blog-section-1 ul li {
    display: flex;
    justify-content: space-between;
    align-items: start;
    text-decoration: none;
    gap: 20px;
    min-height: 280px;
    position: relative;
}

#blog-section-1 ul li p:first-of-type:hover {
    color: #7f7f7f;
    transition: all .2s ease-out;
}

#blog-section-1 ul hr {
    width: 100%;
    height: 1px;
    background-color: #00000020;
    border: none;
}

#blog-section-1 ul li img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#blog-section-1 ul li p {
    font-size: 2.1rem;
    margin: 0;
    font-weight: 500;
    transition: all .2s ease-out;
}

#blog-section-1 ul li div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 48%;
    height: 100%;
}

#blog-section-1 ul li div .page-heading {
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 20px;
}

.img-container {
    position: absolute;
    width: 50%;
    border-radius: 15px;
    overflow: hidden;
    top: 0;
    right: 0;
}