.contact-section-2 .page-heading {
    width: fit-content;
}

.contact-section-2-inner {
    display: flex;
    justify-content: start;
    margin-top: 20px;
    gap: 20px;
    position: relative;
    margin-bottom: 3rem;
}

.contact-form {
    display: flex;
    width: calc(50% - 10px);
}

.contact-form-inner {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    font-family: 'ClashDisplay', sans-serif;
}

.contact-form-inner input,
.contact-form-inner textarea {
    width: calc(100% - 30px);
    padding: 17px;
    font-size: 1rem;
    margin: 5px 0;
    border-radius: 15px;
    border: none;
    background: #00000010;
    color: #000;
    font-weight: 600;
}

.contact-form-inner input::placeholder,
.contact-form-inner textarea::placeholder {
    color: #000;
    font-family: 'ClashDisplay', sans-serif;
    font-weight: 400;
    opacity: .7;
}

.contact-form button {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    margin: 0;
    cursor: unset;
    height: fit-content;
    background: #000;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: 50px;
    text-wrap: nowrap;
    cursor: pointer;
    transition: all 0.3s ease-out;
    border: none;
    margin-top: 15px;
}

.contact-form button:hover {
    background: #BE1E28;
    transition: all 0.3s ease-out;
}

.contact-section-2-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-image-wrapper {
    display: flex;
    height: 100%;
    width: calc(50% - 10px);
    border-radius: 15px;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
}

.contact-section-3 {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    align-items: center;
}

.contact-section-3 iframe {
    width: calc(60% - 10px);
    border-radius: 15px;
}

.contact-section-3 ul {
    width: calc(40% - 10px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0;
    text-decoration: none;
    gap: 20px;
    padding: 0 50px;
    list-style: none;
}

.contact-section-3 ul li {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.contact-section-3 ul li img {
    width: 35px;
    height: 35px;
}

.contact-section-3 ul li p {
    margin: 0;
    font-size: 1.1rem;
}

@media(max-width:756px) {
    .contact-section-2-inner {
        flex-direction: column;
    }

    .contact-form {
        width: 100%;
    }

    .contact-image-wrapper {
        position: unset;
        width: 100%;
    }

    .contact-section-3 {
        flex-direction: column;
    }

    .contact-section-3 iframe {
        width: 100%;
    }

    .contact-section-3 ul {
        padding: 0;
        width: 100%;
    }
}