#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

#header img {
    width: 170px;
    height: auto;
}

#header a {
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    display: flex;
    transition: color 0.3s ease-in;
}

#header a:hover {
    color: #BE1E28;
    transition: color 0.3s ease-in;
}

#header nav {
    display: flex;
    gap: 32px;
    background: #000000;
    padding: .8rem 2.5rem;
    border-radius: 50px;
}

#header button {
    background-color: #BE1E28;
    color: #fff;
    border: none;
    padding: .8rem 2rem;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 50px;
    transition: all 0.3s ease-in;
}

#header button:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in;
}