#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    gap: 30px;
}

#header img {
    width: 170px;
    height: auto;
}

#header a {
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    display: flex;
    transition: color 0.3s ease-in;
}

#header a:hover {
    color: #BE1E28;
    transition: color 0.3s ease-in;
}

#header nav {
    display: flex;
    gap: 32px;
    background: #000000;
    padding: 0 2.5rem;
    flex-wrap: wrap;
    row-gap: 0;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 50px;
}

#header nav a {
    padding: .8rem 0;
}

#header button {
    background-color: #BE1E28;
    color: #fff;
    border: none;
    padding: .8rem 2rem;
    font-size: 1.2rem;
    text-wrap: nowrap;
    font-weight: 400;
    border-radius: 50px;
    transition: all 0.3s ease-in;
}

#header button:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

#header .dropdown {
    position: relative;
}

#header .dropbtn {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

#header .dropdown-content {
    display: none;
    position: absolute;
    top: 53px;
    left: 0;
    background-color: #000;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    min-width: 220px;
    z-index: 1000;
    padding: 0.5rem 0;
}

#header .dropdown-content a {
    padding: 0.75rem 1.25rem;
    color: #fff;
    white-space: nowrap;
    text-decoration: none;
    display: block;
    transition: background 0.3s ease;
}

#header .dropdown-content a:hover {
    background-color: #BE1E28;
    color: #fff;
}

/* #header .dropdown:hover .dropdown-content {
    display: block;
} */

#header .dropdown-toggle {
    cursor: pointer;
    user-select: none;
    transition: transform 0.3s ease;
    width: 11px;
    height: 6px;
    padding: 8px;
}

#header .dropdown-content.show {
    display: block;
}

#header .dropdown.open .dropdown-toggle {
    transform: rotate(180deg);
}

.drop-wrapper {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

@media(max-width:1000px) {
    #header img {
        width: 140px;
    }

    #header {
        gap: unset;
    }

    #header button {
        padding: .7rem 1.6rem;
        font-size: .9rem;
    }
}

@media(max-width:756px) {
    #header .dropdown-content a {
        padding: .75rem 0;
        opacity: .7;
    }

    #header .dropdown-content {
        left: -1px;
    }
}