#home-section-4 {
    display: flex;
    background: #000;
    justify-content: center;
    align-items: center;
}

.home-section-4-container {
    display: flex;
    height: fit-content;
    width: 100%;
    position: relative;
    padding-top: 120px;
}

.home-section-4-left {
    width: calc(50% - 10rem);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 5rem;
    justify-content: center;
}

.home-section-4-image-wrapper {
    position: relative;
    width: 500px;
    height: 500px;
}

.home-section-4-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1;
    pointer-events: none;
}

.home-section-4-image.active {
    opacity: 1;
    z-index: 2;
}

.home-section-4-right {
    width: calc(50% - 10rem);
    padding: 6rem 5rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    color: white;
}

.our-process-image-dots {
    width: 65px;
    height: auto;
    margin-top: -40px;
}

.home-section-4-text-block {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

.section-4-heading {
    font-size: 4.4rem;
    font-weight: 600;
    color: #fff;
    margin: 0;
    line-height: 4.5rem;
}

.section-4-content {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 300;
    margin-bottom: 0;
}

.home-section-4-heading {
    font-size: 4.4rem;
    font-weight: 600;
    color: #BE1E28;
    margin: 0;
    line-height: 4.5rem;
    text-align: center;
    width: max-content;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
}

@media(max-width:1000px) {
    .home-section-4-container {
        justify-content: space-between;
    }

    .home-section-4-right {
        padding-right: 0;
        padding-left: 0;
        width: 50%;
        overflow: hidden;
    }

    .home-section-4-left {
        padding: 0;
        width: 45%;
    }

    .home-section-4-image-wrapper {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
    }

    .home-section-4-heading {
        font-size: 3rem;
    }

    .section-4-heading {
        font-size: 3rem;
        line-height: 3rem;
    }

    .section-4-content {
        font-size: 1rem;
    }
}

@media(max-width:756px) {
    .home-section-4-heading {
        font-size: 2rem;
        top: 35px;
    }

    .home-section-4-right {
        padding-top: 0;
    }

    .home-section-4-container {
        flex-direction: column;
    }

    .home-section-4-left {
        width: 80%;
        margin: 0rem auto 2rem;
        height: fit-content;
        position: unset;
    }
    .home-section-4-right {
        flex-direction: row;
        width: 100%;
        overflow: auto;
        scroll-snap-type: x mandatory;
        gap: 5%;
        padding-left: calc(5% - 1rem);
        padding-right: calc(5% - 1rem);
        padding-bottom: 4rem;
        justify-content: start;
        align-items: start;
    }

    .our-process-image-dots {
        display: none;
    }

    .home-section-4-text-block {
        min-width: 100%;
        scroll-snap-align: center;
    }

    .section-4-heading {
        font-size: 2.2rem;
        line-height: 2.5rem;
    }
}