#home-section-1 {
    display: flex;
    padding-top: 4rem;
    padding-bottom: 2rem;
    overflow: visible;
    align-items: flex-start;
}


.home-section-1-p {
    width: 50%;
    font-weight: 300;
    font-size: 1.3rem;
    margin: 0;
    position: sticky;
    top: 2rem;
    align-self: flex-start;
    display: inline;
    height: fit-content;
}

.home-section-1-p .text-only {
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 3.2rem;
    margin: 0;
    cursor: unset;
    height: fit-content;
    background: #BE1E28;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: 50px;
    text-wrap: nowrap;
}

.home-section-1-p .text-only:hover {
    color: #fff;
}

.home-section-1-p span {
    font-weight: 700;
    font-size: 5rem;
    line-height: 5rem;
    transition: color 0.3s ease-in;
    cursor: pointer;
    text-decoration: none;
}

.home-section-1-p span:hover {
    color: #BE1E28;
}


.home-section-1-right-div {
    display: flex;
    position: relative;
    width: 50%;
    height: 600px;
}

.home-section-1-right-div img {
    width: 127%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.home-section-1-right-div img:last-of-type {
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.home-section-1-right-div {
    position: relative;
}

.home-section-1-right-div img {
    position: absolute;
}

@media(max-width:1000px) {
    .home-section-1-right-div img {
        width: 100%;
    }

    .home-section-1-p span {
        font-size: 3.5rem;
        line-height: 4rem;
    }

    .home-section-1-p .text-only {
        font-size: 1.1rem;
    }

    #home-section-3 h2 {
        font-size: 1.6rem;
    }
}

@media(max-width:756px) {
    #home-section-1 {
        flex-direction: column-reverse;
        align-items: center;
        position: relative;
        padding-top: 2rem;
    }

    .home-section-1-right-div {
        width: 90%;
        height: auto;
        aspect-ratio: 1 / 1;
        position: absolute !important;
        right: 40px;
        bottom: -170px;
        opacity: .3;
    }

    .home-section-1-p {
        width: 100%;
        overflow: hidden;
        text-wrap: wrap;
    }

    .home-section-1-p span {
        font-size: 2.8rem;
        line-height: 3.6rem;
    }

    .home-section-1-right-div img:last-of-type {
        left: 70%;
        top: 43%;
    }
}