.red {
    color: #BE1E28;
}

.section-heading {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin: 0 0 3rem;
}

.section-6-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 3rem;
}

.section-6-inner a {
    width: calc(50% - 5px);
}

.portfolio-div {
    width: 100%;
    overflow: hidden;
    aspect-ratio: 589 / 370;
    height: auto;
    display: flex;
    position: relative;
    border-radius: 15px;
    transition: all 0.3s ease-in;
    cursor: pointer;
}


.image-wrapper {
    height: 100%;
    overflow: hidden;
    aspect-ratio: 589 / 370;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease-in, filter 0.3s ease-in;
}

.portfolio-div:hover .image-wrapper img {
    transform: translateY(-55px);
    filter: brightness(0.7) drop-shadow(0 0 0 rgba(190, 30, 40, 0.55));
}



/* .portfolio-div img:first-of-type {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: -1;
    width: 100%;
    height: 100%;
    aspect-ratio: 589 / 370;
    border-radius: 15px;
    transition: all 0.3s ease-in;
} */

.portfolio-div .hyperlink_arrow {
    z-index: 2;
    position: absolute;
    right: 15px;
    transform: unset;
    bottom: 15px;
    top: unset;
    left: unset;
    width: 50px;
    transition: all 0.3s ease-in;
}

.portfolio-div h3 {
    display: flex;
    height: fit-content;
    position: absolute;
    bottom: 15px;
    margin: 0;
    left: 15px;
    padding: .7rem 1rem;
    background: #fff;
    color: #000;
    font-family: 'ClashDisplay';
    font-weight: 500;
    border-radius: 115px;
    transition: all 0.3s ease-in;
}

.portfolio-div p {
    display: flex;
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    padding: .7rem 1rem;
    color: #000;
    font-weight: 400;
    text-wrap: nowrap;
    max-width: 100%;
    width: fit-content;
    font-size: 1.2rem;
    z-index: -3;
}

/* .portfolio-div:hover img:first-of-type {
    height: calc(100% - 55px);
    transition: all 0.3s ease-in;
} */

.portfolio-div:hover h3 {
    background: transparent;
    font-size: 2rem;
    bottom: calc(50% - 55px);
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in;
    color: #fff;
    width: max-content;
    text-align: center;
    max-width: 90%;
    transition: all 0.3s ease-in;
    text-wrap: nowrap;
}

.portfolio-div:hover img:first-of-type {
    filter: brightness(0.7) drop-shadow(0 0 0 rgba(190, 30, 40, 0.55));
}

.portfolio-div::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(190, 30, 40, 0);
    transition: background-color 0.3s ease;
    pointer-events: none;
    border-radius: 15px;
    z-index: -1;
    aspect-ratio: 589 / 370;
    opacity: 0;
    transition: all 0.3s ease-in;
}

.portfolio-div:hover::after {
    height: calc(100% - 55px);
    background-color: rgba(190, 30, 40, 0.55);
    /* red @ 55% opacity */
    transition: all 0.3s ease-in;
    opacity: 1;
}


.portfolio-div:hover .hyperlink_arrow {
    bottom: 70px;
    transition: all 0.3s ease-in;
}

.view-more-portfolio-btn {
    display: block;
    margin: 2rem auto 4rem;
    padding: 0.75rem 1.5rem;
    border: none;
    background-color: #BE1E28;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    width: fit-content;
    border-radius: 4.5rem;
    transition: background-color 0.3s ease;

}

.view-more-portfolio-btn:hover {
    background-color: #000;
}

@media(max-width:1000px) {
    .portfolio-div:hover h3 {
        font-size: 1.7rem;
        bottom: calc(60% - 55px);
    }
}