#home-section-7 {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.home-section-7-container-1 {
    display: flex;
    justify-content: center;
    align-items: start;
    /* background: linear-gradient(90deg, #401619, #BE1E28); */
    border-radius: 15px;
    overflow: hidden;
    height: 510px;
}

.home-section-7-container-2 {
    display: flex;
    justify-content: center;
    align-items: start;
    /* background: linear-gradient(90deg, #BE1E28, #401619); */
    border-radius: 15px;
    overflow: hidden;
    height: 510px;
}

.home-section-7-container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 53%;
    padding: 0 2rem 0;
    height: 100%;
}

#home-section-7 img {
    aspect-ratio: 570 / 557;
    height: 100%;
    border-radius: 15px;
}

.home-section-7-container-heading {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 3rem;
    margin: 0;
    padding: 0 12px;
    background-color: #BE1E28;
    color: #fff;
}

.home-section-7-container-subheading {
    margin: 0;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 2.6rem;
}

.home-section-7-container-content {
    font-size: 1.15rem;
}

.home-section-7-container-heading-container {
    display: flex;
    margin-bottom: 3rem;
}

.home-section-7-container-heading-container img {
    width: 48px;
    aspect-ratio: unset !important;
    height: unset !important;
    margin: unset;
    border-radius: 0 !important;
    margin-right: -2px;
}