#home-section-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    position: relative;
}

#about-section-2 {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 5rem;
    position: relative;
}

.video-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 1920 / 540;
    overflow: hidden;
    /* Clips the image */
}

.home-section-2-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    cursor: pointer;
}

.fancybox-iframe,
.fancybox-video,
.home-section-2-video {
    border-radius: 15px;
}

.home-section-2-top-image-1 {
    position: absolute;
    width: 860px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: -2;
    filter: invert(1);
}

.home-section-2-top-image-2 {
    position: absolute;
    width: 862px;
    left: 50%;
    top: -32px;
    transform: translateX(-50%);
    z-index: 1;
    pointer-events: none;
    filter: invert(1);
}

.home-section-2-bottom-image-1 {
    position: absolute;
    width: 860px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    filter: invert(1);
    z-index: -2;
}

.home-section-2-bottom-image-2 {
    position: absolute;
    width: 862px;
    left: 50%;
    bottom: -32px;
    transform: translateX(-50%);
    z-index: 1;
    pointer-events: none;
    filter: invert(1);
}

@media(max-width:756px) {
    .video-wrapper {
        aspect-ratio: 1920 / 1340;
    }

    #home-section-2 {
        margin-top: 0rem;
        margin-bottom: 2rem;
    }

    #about-section-2 {
        margin-bottom: 3rem;
    }
}