#home-section-8 {
    width: 100vw;
    overflow: hidden;
    position: relative;
    margin-bottom: 4rem;
    margin-top: 3rem;
}

.section-heading.red {
    text-align: center;
    font-size: 2rem;
    color: #BE1E28;
    width: 90%;
    margin: 0 auto 2rem;
}

.home-section-8-testimonial-carousel {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.home-section-8-testimonial-left_arrow {
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    left: 15px;
}

.home-section-8-testimonial-right_arrow {
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    right: 15px;
}

.home-section-8-testimonial-wrapper {
    overflow: hidden;
    flex: 1;
    padding-left: 80px;
}

.home-section-8-testimonial-carousel-track {
    display: flex;
    gap: 35px;
    will-change: transform;
    cursor: grab;
}

.home-section-8-testimonial {
    position: relative;
    min-width: 820px;
    border-radius: 15px;
    padding: 1.5rem;
    display: flex;
    height: 240px;
    justify-content: space-between;
    align-items: center;
    color: white;
    user-select: none;
    transition: all 0.2s ease-in;
    z-index: 1;
    gap: 40px;
    overflow: hidden;
}

.home-section-8-testimonial::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 15px;
    padding: 4px;
    background: linear-gradient(90deg,
            #F4B400 0%,
            #F4B400 25%,
            #0F9D58 25%,
            #0F9D58 50%,
            #DB4437 50%,
            #DB4437 75%,
            #4285F4 75%,
            #4285F4 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    pointer-events: none;
}



.home-section-8-testimonial-left,
.home-section-8-testimonial-right {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.home-section-8-testimonial-left {
    width: 20%;
}

.home-section-8-testimonial-right {
    width: 80%;
}

.home-section-8-testimonial-left img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.home-section-8-testimonial-right img {
    width: 140px;
}

.home-section-8-testimonial-left p,
.home-section-8-testimonial-right p {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
}

.leave-review-button {
    background-color: #000;
    color: #fff;
    border-radius: 2000px;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    width: fit-content;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    padding: .6rem 1.8rem;
    text-decoration: none;
    margin-top: 30px;
}

.total-google-reviews-container {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.total-google-reviews-container img {
    width: 40px;
}

.total-google-reviews-container div img {
    width: 120px;
}

.total-google-reviews-container div p {
    margin: 15px 0 0;
    font-weight: 500;
    font-size: 1.2rem;
}

.total-google-reviews-container div {
    border-left: solid 2px #000;
    padding-left: 20px;
}

@media(max-width:756px) {
    .home-section-8-testimonial-wrapper {
        padding-left: 40px;
    }

    .home-section-8-testimonial {
        min-width: calc(100% - 5.5rem);
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 20px;
        height: inherit;
    }

    .home-section-8-testimonial-left {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: start;
        align-items: center;
        gap: 15px;
        height: fit-content;
    }

    .home-section-8-testimonial-left img {
        width: 50px;
    }

    .home-section-8-testimonial-right {
        width: 100%;
        justify-content: start;
        align-items: start;
        gap: 15px;
    }
    .home-section-8-testimonial-right p, .total-google-reviews-container div p{
        font-size: 1rem;
    }
    .leave-review-button{
        font-size: 1rem;
    }
}