body {
    background-color: #fff;
    margin: 0;
    overflow-x: hidden;
}

@font-face {
    font-family: 'ClashDisplay';
    src: url('../Assets/Fonts/ClashDisplay-ExtraLight.otf') format('opentype');
    font-weight: 200;
}

@font-face {
    font-family: 'ClashDisplay';
    src: url('../Assets/Fonts/ClashDisplay-Light.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'ClashDisplay';
    src: url('../Assets/Fonts/ClashDisplay-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'ClashDisplay';
    src: url('../Assets/Fonts/ClashDisplay-Medium.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'ClashDisplay';
    src: url('../Assets/Fonts/ClashDisplay-Semibold.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'ClashDisplay';
    src: url('../Assets/Fonts/ClashDisplay-Bold.otf') format('opentype');
    font-weight: 700;
}

h1 {
    font-family: 'ClashDisplay', sans-serif;
    font-weight: 700;
    color: #000;
}

h2 {
    font-family: 'ClashDisplay', sans-serif;
    font-weight: 500;
    color: #000;
}

p,
a {
    font-family: 'ClashDisplay', sans-serif;
    font-weight: 300;
    color: #000;
    text-decoration: none;
}

button {
    font-family: 'ClashDisplay', sans-serif;
    font-weight: 300;
    text-decoration: none;
}

.page-width {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 5rem;
}

#loop-carousel-strip-1,
#loop-carousel-strip-2 {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.carousel-track,
.carousel-track-2 {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: max-content;
}

.carousel-item {
    color: #000;
    font-family: 'ClashDisplay', sans-serif;
    font-size: 1.3rem;
    white-space: nowrap;
    font-weight: 500;
}

.carousel-separator {
    width: 1.8rem;
    height: auto;
}

.whatsapp-floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 35px;
    display: flex;
    z-index: 99;
    background: #000;
    padding: 15px;
    border-radius: 1000px;
    aspect-ratio: 1/1;
    height: auto;
    opacity: 0;
  }
  
.whatsapp-floating-button img{
    width: 100%;
}