body {
    background-color: #fff;
    margin: 0;
    overflow-x: hidden;
    letter-spacing: 1px;
}

@font-face {
    font-family: 'ClashDisplay';
    src: url('../Assets/Fonts/ClashDisplay-ExtraLight.otf') format('opentype');
    font-weight: 200;
}

@font-face {
    font-family: 'ClashDisplay';
    src: url('../Assets/Fonts/ClashDisplay-Light.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'ClashDisplay';
    src: url('../Assets/Fonts/ClashDisplay-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'ClashDisplay';
    src: url('../Assets/Fonts/ClashDisplay-Medium.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'ClashDisplay';
    src: url('../Assets/Fonts/ClashDisplay-Semibold.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'ClashDisplay';
    src: url('../Assets/Fonts/ClashDisplay-Bold.otf') format('opentype');
    font-weight: 700;
}

h1 {
    font-family: 'ClashDisplay', sans-serif;
    font-weight: 700;
    color: #000;
}

h2 {
    font-family: 'ClashDisplay', sans-serif;
    font-weight: 500;
    color: #000;
}

p,
a {
    font-family: 'ClashDisplay', sans-serif;
    font-weight: 300;
    color: #000;
    text-decoration: none;
}

button {
    font-family: 'ClashDisplay', sans-serif;
    font-weight: 300;
    text-decoration: none;
}

.page-width {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 5rem;
    width: calc(100% - 10rem) !important;
}

#loop-carousel-strip-1,
#loop-carousel-strip-2 {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.carousel-track,
.carousel-track-2 {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: max-content;
}

.carousel-item {
    color: #000;
    font-family: 'ClashDisplay', sans-serif;
    font-size: 1.3rem;
    white-space: nowrap;
    font-weight: 500;
}

.carousel-separator {
    width: 1.8rem;
    height: auto;
}

.whatsapp-floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 35px;
    display: flex;
    z-index: 99;
    background: #000;
    padding: 15px;
    border-radius: 1000px;
    aspect-ratio: 1/1;
    height: auto;
    opacity: 0;
}

.whatsapp-floating-button img {
    width: 100%;
}

.page-top-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 70px 0;
}

.page-heading {
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin: 0;
    cursor: unset;
    height: fit-content;
    background: #BE1E28;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: 50px;
    text-wrap: nowrap;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.page-heading:hover {
    color: #fff;
    background: #000;
    transition: all 0.3s ease-in;
}

.page-subheading {
    font-weight: 700;
    font-size: 3.7rem;
    line-height: 4.5rem;
    transition: all 0.3s ease-in;
    cursor: pointer;
    text-decoration: none;
    margin: 0;
    cursor: pointer;
}

.page-subheading:hover {
    color: #BE1E28;
    transition: all 0.3s ease-in;
}

#page-transition-wrapper {
    overflow: hidden;
    position: relative;
}

#page-content {
    transition: transform 0.4s ease, opacity 0.4s ease;
    will-change: transform, opacity;
}

.logo_nav_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

@media(max-width:1000px) {
    .page-width {
        width: calc(100% - 10rem) !important;
    }

    .burger {
        display: block !important;
        font-size: 30px;
        cursor: pointer;
        z-index: 100;
    }

    .nav-container {
        position: fixed;
        inset: 0;
        backdrop-filter: blur(6px);
        background: rgba(0, 0, 0, 0.2);
        /* optional darker blur */
        z-index: 99;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
    }

    .nav-container nav {
        align-items: start !important;
        justify-content: start !important;
        padding-top: 2.5rem !important;
        border-radius: 0 !important;
        height: 100%;
        width: 300px !important;
        position: fixed;
        top: 0;
        bottom: 0;
        left: calc(-300px - 5rem);
        display: flex;
        flex-direction: column;
        background: #fff;
        gap: 10px;
        transition: left 0.3s ease-out;
        padding: 2rem 1rem;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    }

    .nav-container.active {
        opacity: 1;
        pointer-events: auto;
    }

    .nav-container.active nav {
        left: 0 !important;
    }

    .close-btn {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 1rem;
        cursor: pointer;
        align-self: flex-end;
        color: #fff;
    }
}

@media(max-width:756px) {
    .page-width {
        padding: 0 1rem;
        width: calc(100% - 2rem) !important;
    }

    .logo_nav_container {
        gap: 20px;
    }

    .carousel-item {
        font-size: 1.2rem;
    }
}